@page
@model Første_eksamens_projekt_razorpage.Pages.CreateMemberModel;

<head>
    <link rel="stylesheet" href="/css/Booking.css" />
</head>
<body>
    <h2>Create New Member</h2>

    <form method="post">
        <div>
            <label for="Id">Member ID</label>
            <input asp-for="member.Id" type="text" />
            <span asp-validation-for="member.Id" class="text-danger"></span>
        </div>

        <div>
            <label for="Name">Name</label>
            <input asp-for="member.Name" type="text" />
            <span asp-validation-for="member.Name" class="text-danger"></span>
        </div>

        <div>
            <label for="PhoneNumber">Phone Number</label>
            <input asp-for="member.PhoneNumber" type="tel" />
            <span asp-validation-for="member.PhoneNumber" class="text-danger"></span>
        </div>

        <div>
            <label for="Email">Email</label>
            <input asp-for="member.Email" type="email" />
            <span asp-validation-for="member.Email" class="text-danger"></span>
        </div>

        <div>
            <label for="BirthDay">Birthday</label>
            <input asp-for="member.BirthDay" type="date" />
            <span asp-validation-for="member.BirthDay" class="text-danger"></span>
        </div>

        <button type="submit">Create Member</button>
    </form>
</body>
